/* STRUCTURE GLOBALE*/
.cv-container {
  display: flex;
  max-width: 1100px;
  margin: 40px auto;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  font-family: "Poppins", sans-serif;
}

.left-section {
  background: #c8152b;
  color: #fff;
  width: 33%;
  padding: 35px 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.profile {
  text-align: center;
}
.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 3px solid #fff;
}
.profile h1 {
  font-size: 20px;
  margin: 0;
  font-weight: 700;
}
.profile h3 {
  margin: 5px 0;
  font-size: 14px;
  font-weight: 400;
}
.meta {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.left-section h2 {
  font-size: 14px;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  padding-bottom: 4px;
  margin-bottom: 10px;
}

.about p {
  font-size: 13px;
  line-height: 1.5;
  opacity: 0.95;
}

/* Compétences  */
.skill-bar {
  margin-bottom: 10px;
}
.skill-title {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.bar {
  background: rgba(255,255,255,0.3);
  border-radius: 8px;
  height: 6px;
  margin-top: 5px;
}
.progress {
  background: #fff;
  height: 6px;
  border-radius: 8px;
  transition: width 0.4s ease;
}

/*Intérêts */
.interests .chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.chip {
  background: rgba(255,255,255,0.2);
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.right-section {
  width: 67%;
  padding: 40px;
}

.section {
  margin-bottom: 30px;
}
.section-title h2 {
  font-size: 16px;
  font-weight: 600;
  color: #c8152b;
  border-bottom: 2px solid #c8152b;
  display: inline-block;
  margin-bottom: 12px;
}

/* Éducation et expérience */
.edu-item,
.exp-item {
  background: #fff;
  border-left: 3px solid #c8152b;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

.edu-item h3,
.exp-item h3 {
  margin: 0;
  font-size: 15px;
  color: #333;
}
.edu-item p,
.exp-item p {
  font-size: 13px;
  margin: 5px 0;
  color: #555;
}
.year {
  font-size: 12px;
  color: #888;
}

/* Timeline look */
.experience-list {
  position: relative;
  padding-left: 15px;
}
.experience-list::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 0;
  bottom: 0;
  width: 1.5px;
  background: #c8152b;
  border-radius: 3px;
}
.exp-item {
  position: relative;
}
.exp-item::before {
  content: "";
  position: absolute;
  left: -2.5px;
  top: 15px;
  width: 7px;
  height: 7px;
  background: #c8152b;
  border-radius: 50%;
}

/* ----- Responsif ----- */
@media (max-width: 900px) {
  .cv-container {
    flex-direction: column;
    width: 90%;
  }
  .left-section, .right-section {
    width: 100%;
    padding: 25px;
  }
}
